///////////////////////////////////////
// IMPORTS ////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

///////////////////////////////////////
// VARIABLES //////////////////////////

$colors: (
  Soft-red: hsl(7, 99%, 70%),
  Yellow: hsl(51, 100%, 49%),
  Dark-desaturated-cyan: hsl(167, 40%, 24%),
  Dark-blue: hsl(198, 62%, 26%),
  Dark-moderate-cyan: hsl(168, 34%, 41%),
  Very-dark-desaturated-blue: hsl(212, 27%, 19%),
  Very-dark-grayish-blue: hsl(213, 9%, 39%),
  Dark-grayish-blue: hsl(232, 10%, 55%),
  Grayish-blue: hsl(210, 4%, 67%),
  White: hsl(0, 0%, 100%),
  Light-desaturated-blue: hsl(198, 73%, 50%),
);

$heading-font: "Fraunces", serif;
$body-font: "Barlow", sans-serif;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin section() {
  width: 100%;
}

@mixin heading() {
  font-family: $heading-font;
}

@mixin paragraph() {
  font-family: $body-font;
}

@mixin link() {
  user-select: none;
  font-family: $body-font;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
  }
}

@mixin btn() {
  all: unset;
  user-select: none;
  font-family: $heading-font;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  border-radius: 2rem;
  padding: 0.8rem 1.5rem;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
  }
}

@mixin feature() {
  &__heading {
    @include heading();
  }

  &__paragraph {
    @include paragraph();
  }

  &__link {
    @include link();
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, flex-start);
}

.page {
  @include flex(column, flex-start, center);
  width: 100%;
}

.intro {
  @include section();
  @include flex(column, flex-start, center);
  position: relative;

  &__heading {
    @include heading();
    position: absolute;
    text-align: center;
    top: 18.5%;
    color: color(White);
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 900;
    letter-spacing: 0.7rem;
  }

  &__img {
    &--regular {
      position: absolute;
      top: 44%;
      width: 2.5%;
    }

    &--bg {
      width: 100%;
    }
  }
}

.header {
  @include section();
  @include flex(row, space-between, center);
  position: absolute;
  padding: 2rem 2.5rem;

  &__logo {
    width: 9.5rem;
  }

  &__links {
    @include flex(row, space-between, center);
    width: 26rem;
  }
}

.link {
  @include link();

  &--header {
    color: color(White);
    font-size: 1rem;
    letter-spacing: 0.05rem;

    &:hover {
      opacity: 0.5;
    }
  }
}

.button {
  @include btn();

  &--header {
    background-color: color(White);
    color: color(Very-dark-desaturated-blue);

    &:hover {
      background-color: color(Light-desaturated-blue);
      color: color(White);
    }
  }
}

.features {
  @include section();
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.double-feature {
  @include feature();
  @include flex(row, flex-start, flex-start);
  grid-area: auto / auto / auto / span 2;

  &__img-container {
    @include flex(column, flex-start, center);
    width: 50%;
  }

  &__img {
    width: 100%;
  }

  &__text-container {
    @include flex(column, flex-start, flex-start);
    width: 50%;
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.single-feature {
  @include feature();
  @include flex(column, flex-start, center);
  grid-area: auto / auto / auto / span 1;
  position: relative;
  text-align: center;

  &__img {
    width: 100%;
  }

  &__heading {
    position: absolute;
  }

  &__paragraph {
    position: absolute;
  }
}

.testimonials {
  @include section();
  @include flex(column, flex-start, center);

  &__container {
    @include flex(row, space-between, flex-start);
  }
}

.testimonial {
  @include flex(column, flex-start, center);
  text-align: center;

  &__paragraph {
    @include paragraph();
  }

  &__name {
    @include heading();
  }

  &__title {
    @include paragraph();
  }
}

.gallery {
  display: grid;
  grid-template: auto / repeat(4, 1fr);

  &__img {
    max-width: 100%;
  }
}

.footer {
  @include section();
  @include flex(column, flex-start, center);

  &__links {
    @include flex(row, space-between, center);
  }

  &__social-icons {
    @include flex(row, space-between, center);
  }
}
