@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
}

.page-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.intro {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.intro__heading {
  font-family: "Fraunces", serif;
  position: absolute;
  text-align: center;
  top: 19%;
  color: white;
  font-size: clamp(2rem, 5vw, 3rem);
  font-weight: 900;
  letter-spacing: 0.7rem;
}

.intro__img--regular {
  position: absolute;
  top: 44%;
  width: 2.5%;
}

.intro__img--bg {
  width: 100%;
}

.header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  padding: 2.5rem;
}

.header__logo {
  width: 9.5rem;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 26rem;
}

.link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Barlow", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.link:hover {
  cursor: pointer;
}

.link--header {
  color: white;
  font-size: 1rem;
  letter-spacing: 0.04rem;
}

.link--header:hover {
  opacity: 0.5;
}

.link--feature {
  font-family: "Fraunces", serif;
  font-size: 0.95rem;
  letter-spacing: 0.07rem;
  -webkit-text-decoration: underline dotted 0.25rem;
          text-decoration: underline dotted 0.25rem;
  text-underline-offset: 0.15rem;
}

.link--feature:hover {
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

.button {
  all: unset;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Fraunces", serif;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  border-radius: 2rem;
  padding: 0.9rem 1.5rem;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.button:hover {
  cursor: pointer;
}

.button--header {
  background-color: white;
  color: #23303e;
}

.button--header:hover {
  background-color: #22a5dd;
  color: white;
}

.features {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[2];
      grid-template: auto/repeat(2, 1fr);
}

.double-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  grid-area: auto / auto / auto / span 2;
}

.double-feature__heading {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.double-feature__paragraph {
  font-family: "Barlow", sans-serif;
  line-height: 1.75rem;
}

.double-feature__link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Barlow", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.double-feature__link:hover {
  cursor: pointer;
}

.double-feature__img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  height: 100%;
}

.double-feature__img {
  width: 100%;
  height: 100%;
}

.double-feature__text-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50%;
  height: 100%;
  padding: 10vh 10vw;
}

.double-feature__heading {
  font-size: clamp(2rem, 5vw, 2.4rem);
  color: #23303e;
  margin: 0;
}

.double-feature__paragraph {
  font-size: clamp(0.75rem, 5vw, 1rem);
  color: #818498;
  letter-spacing: 0.02rem;
  margin: 1.85rem 0 1rem;
}

.double-feature--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.double-feature--yellow * {
  -webkit-text-decoration-color: #fad400;
          text-decoration-color: #fad400;
}

.double-feature--red * {
  -webkit-text-decoration-color: #fe7867;
          text-decoration-color: #fe7867;
}

.single-feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  grid-area: auto / auto / auto / span 1;
  position: relative;
  text-align: center;
}

.single-feature__heading {
  font-family: "Fraunces", serif;
  font-weight: 900;
}

.single-feature__paragraph {
  font-family: "Barlow", sans-serif;
  line-height: 1.75rem;
}

.single-feature__link {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-family: "Barlow", sans-serif;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.single-feature__link:hover {
  cursor: pointer;
}

.single-feature__img {
  width: 100%;
}

.single-feature__heading {
  position: absolute;
  top: 59%;
  font-size: clamp(0.75rem, 5vw, 1.6rem);
}

.single-feature__paragraph {
  position: absolute;
  top: 70%;
  font-size: 1rem;
  max-width: 40ch;
  line-height: 1.8rem;
}

.single-feature--green * {
  color: #25564b;
}

.single-feature--blue * {
  color: #19536b;
}

.testimonials {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 6.5rem 5rem;
}

.testimonials__heading {
  font-family: "Fraunces", serif;
  color: #a7abae;
  font-size: clamp(0.75rem, 5vw, 1.15rem);
  letter-spacing: 0.35rem;
  margin: 0.75rem 0 3.75rem 0;
}

.testimonials__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 5%;
  width: 100%;
}

.testimonial {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.testimonial__img {
  width: 5vw;
  border-radius: 100%;
}

.testimonial__paragraph {
  font-family: "Barlow", sans-serif;
  line-height: 1.75rem;
  color: #5a636c;
  max-width: 35ch;
  letter-spacing: 0.01rem;
  margin: 2.5rem 0 1.85rem;
}

.testimonial__name {
  font-family: "Fraunces", serif;
  color: #23303e;
  margin: 1rem 0 0.2rem;
}

.testimonial__title {
  font-family: "Barlow", sans-serif;
  line-height: 1.75rem;
  color: #a7abae;
  font-size: 0.95rem;
  letter-spacing: 0.01rem;
  opacity: 0.85;
  margin: 0 0 1rem;
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
  -ms-grid-columns: (1fr)[4];
      grid-template: auto/repeat(4, 1fr);
}

.gallery__img {
  max-width: 100%;
}

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */