///////////////////////////////////////
// IMPORTS ////////////////////////////

@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");

///////////////////////////////////////
// VARIABLES //////////////////////////

$colors: (
  Soft-red: hsl(7, 99%, 70%),
  Yellow: hsl(51, 100%, 49%),
  Dark-desaturated-cyan: hsl(167, 40%, 24%),
  Dark-blue: hsl(198, 62%, 26%),
  Dark-moderate-cyan: hsl(168, 34%, 41%),
  Very-dark-desaturated-blue: hsl(212, 27%, 19%),
  Very-dark-grayish-blue: hsl(213, 9%, 39%),
  Dark-grayish-blue: hsl(232, 10%, 55%),
  Grayish-blue: hsl(210, 4%, 67%),
  White: hsl(0, 0%, 100%),
  Light-desaturated-blue: hsl(198, 73%, 50%),
  Light-cyan: hsl(168, 54%, 64%),
);

$heading-font: "Fraunces", serif;
$body-font: "Barlow", sans-serif;

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin section() {
  width: 100%;
}

@mixin heading() {
  font-family: $heading-font;
}

@mixin paragraph() {
  font-family: $body-font;
  line-height: 1.75rem;
}

@mixin link() {
  user-select: none;
  font-family: $body-font;
  transition: 0.2s;

  &:hover {
    cursor: pointer;
  }
}

@mixin btn() {
  all: unset;
  user-select: none;
  font-family: $heading-font;
  font-size: 1rem;
  letter-spacing: 0.02rem;
  border-radius: 2rem;
  padding: 0.9rem 1.5rem;
  transition: 0.25s;

  &:hover {
    cursor: pointer;
  }
}

@mixin feature() {
  &__heading {
    @include heading();
    font-weight: 900;
  }

  &__paragraph {
    @include paragraph();
  }

  &__link {
    @include link();
  }
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

@function color($color-name) {
  @return map-get($colors, $color-name);
}

///////////////////////////////////////
// STYLES /////////////////////////////

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, flex-start);
}

.page {
  @include flex(column, flex-start, center);
  width: 100%;
}

.intro {
  @include section();
  @include flex(column, flex-start, center);
  position: relative;

  &__heading {
    @include heading();
    position: absolute;
    text-align: center;
    top: 19%;
    color: color(White);
    font-size: clamp(2rem, 5vw, 3rem);
    font-weight: 900;
    letter-spacing: 0.7rem;
  }

  &__img {
    &--regular {
      position: absolute;
      top: 44%;
      width: 2.5%;
    }

    &--bg {
      width: 100%;
    }
  }
}

.header {
  @include section();
  @include flex(row, space-between, center);
  position: absolute;
  padding: 2.5rem;

  &__logo {
    width: 9.5rem;
  }

  &__links {
    @include flex(row, space-between, center);
    width: 26rem;
  }
}

.link {
  @include link();

  &--header {
    color: color(White);
    font-size: 1rem;
    letter-spacing: 0.04rem;

    &:hover {
      opacity: 0.5;
    }
  }

  &--feature {
    font-family: $heading-font;
    font-size: 0.95rem;
    letter-spacing: 0.07rem;
    text-decoration: underline dotted 0.25rem;
    text-underline-offset: 0.15rem;

    &:hover {
      text-decoration-style: solid;
    }
  }

  &--footer {
    color: color(Dark-moderate-cyan);
    margin: 0;

    &:hover {
      color: color(White);
    }
  }
}

.button {
  @include btn();

  &--header {
    background-color: color(White);
    color: color(Very-dark-desaturated-blue);

    &:hover {
      background-color: color(Light-desaturated-blue);
      color: color(White);
    }
  }
}

.features {
  @include section();
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.double-feature {
  @include feature();
  @include flex(row, flex-start, flex-start);
  grid-area: auto / auto / auto / span 2;

  &__img-container {
    @include flex(column, flex-start, center);
    width: 50%;
    height: 100%;
  }

  &__img {
    width: 100%;
    height: 100%;
  }

  &__text-container {
    @include flex(column, center, flex-start);
    width: 50%;
    height: 100%;
    padding: 10vh 10vw;
  }

  &__heading {
    font-size: clamp(2rem, 5vw, 2.4rem);
    color: color(Very-dark-desaturated-blue);
    margin: 0;
  }

  &__paragraph {
    font-size: clamp(0.75rem, 5vw, 1rem);
    color: color(Dark-grayish-blue);
    letter-spacing: 0.02rem;
    margin: 1.85rem 0 1rem;
  }

  &--reverse {
    flex-direction: row-reverse;
  }

  &--yellow * {
    text-decoration-color: color(Yellow);
  }

  &--red * {
    text-decoration-color: color(Soft-red);
  }
}

.single-feature {
  @include feature();
  @include flex(column, flex-start, center);
  grid-area: auto / auto / auto / span 1;
  position: relative;
  text-align: center;

  &__img {
    width: 100%;
  }

  &__heading {
    position: absolute;
    top: 59%;
    font-size: clamp(0.75rem, 5vw, 1.6rem);
  }

  &__paragraph {
    position: absolute;
    top: 70%;
    font-size: 1rem;
    max-width: 40ch;
    line-height: 1.8rem;
  }

  &--green * {
    color: color(Dark-desaturated-cyan);
  }

  &--blue * {
    color: color(Dark-blue);
  }
}

.testimonials {
  @include section();
  @include flex(column, flex-start, center);
  padding: 6.5rem 5rem;

  &__heading {
    @include heading();
    color: color(Grayish-blue);
    font-size: clamp(0.75rem, 5vw, 1.15rem);
    letter-spacing: 0.35rem;
    margin: 0.75rem 0 3.75rem 0;
  }

  &__container {
    @include flex(row, center, flex-start);
    gap: 5%;
    width: 100%;
  }
}

.testimonial {
  @include flex(column, flex-start, center);
  text-align: center;

  &__img {
    width: 5vw;
    border-radius: 100%;
  }

  &__paragraph {
    @include paragraph();
    color: color(Very-dark-grayish-blue);
    max-width: 35ch;
    letter-spacing: 0.01rem;
    margin: 2.5rem 0 1.85rem;
  }

  &__name {
    @include heading();
    color: color(Very-dark-desaturated-blue);
    margin: 1rem 0 0.2rem;
  }

  &__title {
    @include paragraph();
    color: color(Grayish-blue);
    font-size: 0.95rem;
    letter-spacing: 0.01rem;
    opacity: 0.85;
    margin: 0 0 1rem;
  }
}

.gallery {
  display: grid;
  grid-template: auto / repeat(4, 1fr);

  &__img {
    max-width: 100%;
  }
}

.footer {
  @include section();
  @include flex(column, flex-start, center);
  background-color: color(Light-cyan);
  padding: 4rem 3rem 3.6rem;

  &__logo {
    width: 8.5rem;
    filter: invert(36%) sepia(6%) saturate(2804%) hue-rotate(131deg)
      brightness(92%) contrast(88%) brightness(0.675);
  }

  &__links {
    @include flex(row, center, center);
    width: 100%;
    gap: 3vw;
    margin: 1.75rem 0 3.5rem;
  }

  &__social-icons {
    @include flex(row, center, center);
    width: 100%;
    gap: 1.75vw;
  }
}

.social-icon {
  transition: 0.2s;

  &--footer {
    &:hover {
      cursor: pointer;
      filter: brightness(0) invert(1);
    }
  }
}
