///////////////////////////////////////
// IMPORTS ////////////////////////////

///////////////////////////////////////
// VARIABLES //////////////////////////

///////////////////////////////////////
// MIXINS /////////////////////////////

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin section() {
  width: 100%;
}

///////////////////////////////////////
// FUNCTIONS //////////////////////////

///////////////////////////////////////
// STYLES /////////////////////////////

body {
  margin: 0;
}

.page-container {
  @include flex(row, center, flex-start);
}

.page {
  @include flex(column, flex-start, center);
  width: 100%;
}

.intro {
  @include section();
  @include flex(column, flex-start, center);

  &__img {
    &--regular {
      width: 5%;
    }

    &--bg {
      width: 100%;
    }
  }
}

.header {
  @include section();
  @include flex(row, space-between, center);

  &__links {
    @include flex(row, space-between, center);
  }
}

.features {
  @include section();
  display: grid;
  grid-template: auto / repeat(2, 1fr);
}

.double-feature {
  @include flex(row, flex-start, flex-start);
  grid-area: auto / auto / auto / span 2;

  &__img-container {
    @include flex(column, flex-start, center);
    width: 50%;
  }

  &__img {
    width: 100%;
  }

  &__text-container {
    @include flex(column, flex-start, flex-start);
    width: 50%;
  }

  &--reverse {
    flex-direction: row-reverse;
  }
}

.single-feature {
  @include flex(column, flex-start, center);
  grid-area: auto / auto / auto / span 1;
  text-align: center;

  &__img {
    width: 100%;
  }
}

.testimonials {
  @include section();
  @include flex(column, flex-start, center);

  &__container {
    @include flex(row, space-between, flex-start);
  }
}

.testimonial {
  @include flex(column, flex-start, center);
  text-align: center;
}

.gallery {
  display: grid;
  grid-template: auto / repeat(4, 1fr);

  &__img {
    max-width: 100%;
  }
}

.footer {
  @include section();
  @include flex(column, flex-start, center);

  &__links {
    @include flex(row, space-between, center);
  }

  &__social-icons {
    @include flex(row, space-between, center);
  }
}
